#table {
  width: 75%;
}

html,body,header {padding:0; margin:0;}

div#header {
  margin: 0px;
  padding: 0px;
  left: 0px;
  top: 0px;
  border: 0px;
  height: 100px;
  width: 100%;
  background-color: #f2f2f2;
}

div#sidebar {
  margin: 0px;
  width: 256px;
  height: 800px;
  float: right;
  box-shadow: -3px 3px 3px #888888;
}

input.data {
  width: 230px;
  border: 0px;
}

input#story {
  width: 230px;
  height: 10em;
}

div#profile-photo {
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 13px;
  width: 231px;
  height: 231px;
  background-color: gray;
}

div.data {
  margin-left: 13px;
  height: 40px;
}

div#story {

}

.brick {
	width: 90px;
	height: 45px;
}

.brick-built {
	height: 45px;
  background-color: black;
}

.brick-buildable {
	width: 90px;
	height: 45px;
  border: 1px solid black;
}