#table {
  width: 75%;
}

div#header {
  top: 0px;
  left: 0px;
  margin: 0px;
  height: 80px;
  width: 100%;
  background-color: #f2f2f2;
  z-index: 10;
}

div#sidebar {
  right: 0px;
  width: 256px;
  height: 800px;
  float: right;
  border-left: 2px solid black;
  background-color: green;
  box-shadow: -3px 3px 3px #888888;
  z-index: 12;
}

div#profile-photo {
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 231px;
  height: 200px;
  background-color: gray;
}

.brick {
	width: 90px;
	height: 45px;
}

.brick-built {
	height: 45px;
  background-color: black;
}

.brick-buildable {
	width: 90px;
	height: 45px;
  border: 1px solid black;
}